# Configuración de Django
DEBUG=True
SECRET_KEY=django-insecure-generar-una-clave-segura-para-produccion

# Configuración de PostgreSQL
DB_NAME=sigae_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
